@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<h1>Maze adventurer</h1>
<form method="post">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Models.Maze maze in Model.Mazes)
			{
				<tr>
					<td>@maze.Id</td>
					<td>@maze.Configuration.Name</td>
					<td>
						<a asp-page="./View" asp-route-id="@maze.Id">Enter maze!</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-page="./Create">Create</a>
</form>